/lib/*
/bin/
*.exe
*.trs
/csv_output/*
*.xlsx
/armors.txt
/items.txt
/itemsUnknown.txt
/monsters.txt
/monstersUnknown.txt
/sites.txt
/sitesUnknown.txt
/spells.txt
/weapons.txt
/items/*
/monsters/*
/spells/*

